.about-container {
    max-width: 50%;
    margin: 60px auto 50px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        font-family: $customfont1;
    }

    .galery-img {
        width: 100%;
        height: 90%;
        border: solid #c2bebe;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        object-fit: cover;

        &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
        }
    }
}

    @include mobile {
        .about-container {
            width: 100%;
            max-width: 100%;
            margin: 20px auto;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.7);

            .galeria {
                grid-template-columns: 1fr;
                padding: 10px;
                gap: 15px;
            }

            .galery-img {
            width: 100%;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
            }

            figcaption {
                font-family: $customfont1;
                font-size: 1.125em;
            }
        }
}


