/* Fonts */

@font-face {
    font-family: "optimusprinceps";
    src: url(../font/optimusprinceps/OptimusPrinceps.ttf);
}

@font-face {
    font-family: "enchantedland";
    src: url(../font/enchanted_land/enchantedland.otf);
}

@font-face {
    font-family: "pirataone";
    src: url(../font/pirata_one/PirataOne.ttf);
}

/* Body variable */

$background-color: #111;
$background-image: url(../img/Irithyll_del_Valle_Boreal.jpg);
$text-color: #fff;
$font-main: 'Georgia', serif;
$customfont1: 'optimusprinceps', serif;
$customfont2: 'pirataone', serif;
$customfont3: 'enchantedland', serif;

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    background-image: $background-image;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $text-color;
    font-family: $font-main;
    text-align: center;
}

/* Mixin mobile */

@mixin mobile {
    @media screen and (min-width: 475px) and (max-width: 767px) {
        @content
    }
}