        /* Fonts */
        
        @font-face {
            font-family: "optimusprinceps";
            src: url(../font/optimusprinceps/OptimusPrinceps.ttf);
        }

        @font-face {
            font-family: "enchantedland";
            src: url(../font/enchanted_land/enchantedland.otf);
        }

        @font-face {
            font-family: "pirataone";
            src: url(../font/pirata_one/PirataOne.ttf);
        }

        /* General */

        body {
        margin: 0;
        padding: 0;
        background-color: #111;
        background-image: url(../img/Irithyll_del_Valle_Boreal.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
        font-family: 'Georgia', serif;
        text-align: center;
        }

        .about-container {
            max-width: 50%;
            margin: 50px auto;
            padding: 20px;
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            flex-wrap: wrap;
        }

        .body-centered {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #111;
        }

        .container {
            all: unset;
            width: 50%;
            max-width: 700px;
            padding: 20px;
            margin-top: 5%;
            margin-bottom: 5%;
            border-radius: 12px;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
        }

        header, footer {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, auto);
            max-width: 400px;
            margin: 50px auto;
            text-align: center;
            background-color: none;
            border: none;
            padding: 20px;
        }

        footer {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 10px;
            padding: 20px;
            text-align: center;    
        }

        header {
            display: grid;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, auto);
            row-gap: 20px;
            padding: 20px;
        }
        
          /* H1 crosses the whole row 1, centered between columns 2 and 3 */
        .title {
            grid-column: 2/5;
            grid-row: 1;
            justify-self: center;
            position: relative;
            text-align: center;
            margin: 0;
            margin-top: 30px;
            font-size: 3.5em;
        }
        
          /* Dropdown nav between rows 2 and 3 */
        .dropdown-row {
            grid-column: 3;
            grid-row: 2;
            justify-self: center;
            position: relative;
            margin-top: 25px;
            margin-bottom: -30px;
        }
        
          /* Menu's button */
        .dropdown-button {
            padding: 10px 20px;
            background-color: #444;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
          /* Hidden dropdown menu */
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #222;
            border: 1px solid #555;
            border-radius: 5px;
            padding: 10px;
            z-index: 1000;
        }
        
          /* Show menu while hovering */
        .dropdown-row:hover .dropdown-menu {
            display: block;
        }
        
          /* Menu's style */
        .dropdown-menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .dropdown-menu li {
            margin: 5px 0;
        }
        
        .dropdown-menu a {
            color: white;
            text-decoration: none;
        }

        .h2-dark {
            grid-column: 2/5;
            grid-row: 3;
            position: relative;
            justify-self: center;
            margin-top: 50px;
            margin-bottom: -30px;
            font-size: 2em;
            font-family: 'optimusprinceps', serif;
            text-align: center;
            color: #fff;
            text-shadow: 
            0 0 10px rgba(255, 255, 255, 0.7),
            0 0 20px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 0.3),
            0 0 40px rgba(255, 255, 255, 0.2);
            transition: text-shadow 0.5s ease-in-out;
        }

        .h3-header {
            grid-column: 2/5;
            grid-row: 3;
            position: relative;
            justify-self: center;
            margin-bottom: -30px;
            font-size: 2em;
        }

        .title-about-me {
            margin-top: 25px;
            margin-bottom: -20px;
        }

        .footer-socials {
            display: flex;
            justify-content: space-around;
            align-items: center;
            grid-column: 1 / 5;
        }

        .footer-socials a img {
            width: 30px;
            transition: transform 0.3s ease;
        }
        
        .footer-socials a:hover img {
            transform: scale(1.2);
            box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
            transition: all 0.3 ease;
            border-radius: 12px;
        }

        .footer-img {
            max-width: 30px;
            max-height: 30px;
            align-items: center;
        }

        .about-text {
            max-width: 600px;
            text-align: justify;
            margin-left: 30px;
        }

        .about-image {
            border: 3px solid #777;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            max-width: 300px;
            height: auto;
        }

        h1 {
            font-family: 'optimusprinceps', serif;
            text-align: center;
            margin-bottom: 30px;
            font-size: 50px;
            color: #fff;
            }

        h2 {
            font-family: 'optimusprinceps', serif;
            text-align: center;
            margin-bottom: 30px;
            font-size: 2em;
            color: #fff;
            text-shadow: 
            0 0 10px rgba(255, 255, 255, 0.7),
            0 0 20px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 0.3),
            0 0 40px rgba(255, 255, 255, 0.2);
            transition: text-shadow 0.5s ease-in-out;
        }
        

        h3 {
            font-family: 'optimusprinceps', serif;
            text-align: center;
            font-size: 25px;
        }

        h4 {
            font-family: 'optimusprinceps', serif;
            font-size: 1.2em;
            text-align: center;
        }

        h1:hover {
            text-shadow: 
                0 0 20px rgba(255, 255, 255, 0.7),
                0 0 30px rgba(255, 255, 255, 0.5),
                0 0 40px rgba(255, 255, 255, 0.3),
                0 0 50px rgba(255, 255, 255, 0.2);
        }

        p {
            text-align: justify;
            font-family: 'pirataone';
            font-size: 1.25em;
            color: #c2bebe;
        }

        .p1 {
            text-align: center;
        }

        .p2 {
            font-size: 1.2em;
            color: #f2f2f2;
            text-align: center;
            grid-column: 1/5;
        }

        a {
            color: #87cefa;
            text-decoration: none;
            }

        section {
            margin-bottom: 40px;
            }

            /* Carousel */

        #demo.carousel {
            position: relative;
            width: 100%;
            max-width: 600px;
            margin: 0 auto 40px;
            overflow: hidden;
        }

        /* Slides */
        .carousel-inner {
            border-radius: 8px;
        }

        .carousel-item img,
        .carousel-item video {
            max-width: 100%;
            max-height: auto;
            border-radius: 8px;
            border: 2px solid #6e6b6b;
        }

        /* Indicadores (puntos inferiores) */
        .carousel-indicators li {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .carousel-indicators .active {
            background-color: rgba(255, 255, 255, 0.9);
        }

        /* Flechas de navegación */
        .carousel-control-prev,
        .carousel-control-next {
            width: auto;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 5px;
            filter: none;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }

        #demo.carousel:hover .carousel-control-prev,
        #demo.carousel:hover .carousel-control-next {
            opacity: 1;
            pointer-events: auto;
            filter: blur(0);
            transform: translateY(-50%) scale(1);
        }

        .carousel-control-prev:hover,
        .carousel-control-next:hover {
            background-color: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%) scale(1.1);
        }

        /* Íconos de flecha */
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-size: 60% 60%;
            background-repeat: no-repeat;
            background-position: center;
        }

            /* Contact form */

        .form-container {
            width: 100%;
            max-width: 800px;
            font-family: "optimusprinceps", serif;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            margin-left: 10%;
        }

        /* Textbox's styles */
        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-size: 16px;
            color: #fff;
            display: block;
            margin-bottom: 8px;
        }

        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            max-width: 700px;
            padding: 12px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            border: 2px solid #424141;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group textarea {
            resize: vertical;
            height: 150px;
        }

        .form-group input:focus,
        .form-group select:focus,
        .form-group textarea:focus {
            border-color: #f0f0f0;
            outline: none;
        }

        /* From button */
        .form-group button {
            font-family: "optimusprinceps", serif;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            padding: 10px 20px;
            border: #424141 solid;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            max-width: 300px;
        }

        .form-group button:hover {
            background-color: rgba(0, 0, 0, 1);
            box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
            transition: all 0.3s ease;
            border-radius: 12px;
        }

            /* Images' style */

            .galery-img {
                width: 400px;
                height: auto;
                border: 2px solid;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.6);
            }

            .lore-img {
                width: 600px;
                height: auto;
                border: 3px solid;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            }

            .index-img {
                width: 680px;
                height: auto;
                margin-top: 30px;
                border: 4px solid;
                border-color: #ada9a9;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            }

            .lore-img-2 {
                width: 400px;
                height: auto;
                align-items: center;
                border: 2px solid;
                border-radius: 5px;
                margin-left: 100px;
            }

            /* Bottom button to go all the way up */

            .boton-volver {
                position: fixed;
                bottom: 20px;
                right: 20px;
                background-color: #222;
                color: #fff;
                padding: 12px 16px;
                border-radius: 10%;
                text-decoration: none;
                font-size: 20px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                transition: background-color 0.3s ease;
            }
            
            .boton-volver:hover {
                background-color: #555;
            }
            
            .boton-volver .icono {
                width: 20px;
                height: 20px;
            }

            /* Gallery's style */

            .galeria {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                padding: 20px;
                max-width: 900px;
                margin: 0 auto;
            }
            
            .galery-img {
                width: 100%;
                height: 90%;
                border: solid #c2bebe; 
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                object-fit: cover;
            }

            .galery-img:hover {
                transform: scale(1.05);
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
            }

            /* Figcaption (images' description)*/

            figure {
                margin: 0;
                text-align: center;
            }
            figcaption {
                margin-top: 8px;
                font-style: italic;
                font-size: 0.9rem;
                color: #ccc;
            }

            /* Dropdown menu */

            nav {
                position: relative;
                display: inline-block;
            }
        
            .dropdown-button {
                font-family: "optimusprinceps", serif;
                background-color: rgba(0, 0, 0, 0.4);
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                font-size: 25px;
                width: 200px;
            }
        
            .dropdown-button:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }
        
            .dropdown-menu {
                font-family: "optimusprinceps", serif;
                display: none;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                min-width: 200px;
                box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
                z-index: 1;
                font-size: 1.2em;
            }
        
            .dropdown-menu a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        
            .dropdown-menu a:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        
            nav:hover .dropdown-menu {
                display: block;
            }

            li {
                list-style-type: none;
                text-align: center;
                margin-right: 30px;
            }

            /* Toast message */

            .toast {
                display: flex;
                align-items: center;
                gap: 12px;
                position: fixed;
                top: 30px;
                right: 30px;
                background-color: rgba(0, 0, 0, 0.6);
                color: #f8f8f8;
                padding: 16px 24px;
                border-radius: 10px;
                font-family: 'optimusprinceps';
                font-size: 1em;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.5s ease-in-out;
                z-index: 1000;
                box-shadow: 0 0 10px #000;
            }

            .toast-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 5px;
            }
            
            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                    transform: translateY(0);
                }
                to {
                    opacity: 0;
                    transform: translateY(-20px);
                }
            }

            .toast.show {
                opacity: 1;
                pointer-events: auto;
                animation: fadeIn 1s forwards;
            }

            .toast.fade-out {
                animation: fadeOut 1s forwards;
                pointer-events: none;
}

            .toast.hidden {
                display: none;
            }

            /* Lighbox */

            .modal {
                display: none;
                position: fixed;
                z-index: 1000;
                padding-top: 60px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0,0,0,0.7);
            }
            
            .modal-content {
                display: block;
                margin: auto;
                margin-top: 60px;
                max-width: 80%;
                max-height: 80vh;
                border: 5px solid #f2f2f2;
                border-radius: 10px;
                box-shadow: 0 0 30px rgba(250, 250, 250, 0.75);
                background-color: #111;
            }
            
            #caption {
                text-align: center;
                color: #ccc;
                margin-top: 15px;
                font-size: 18px;
                font-style: italic;
                font-family: "optimusprinceps", serif;
            }
            
            .close, .prev, .next {
                cursor: pointer;
                color: white;
                font-size: 2em;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                user-select: none;
                padding: 16px;
            }
            
            .close {
                top: 15px;
                right: 35px;
                font-size: 3em;
                transform: none;
            }
            
            .prev { left: 10px; }
            .next { right: 10px; }

            img:hover,
            select:hover,
            a:hover,
            button:hover {
                cursor: url(../img/sword-icon.png), auto;
            }

            
            @media (max-width: 767px) {
                .close, .prev, .next { font-size: 1.5em; }
            }



        /* RESPONSIVE MOBILE MIN 375px - MAX 767 px */

@media screen and (min-width: 375px) and (max-width: 767px) {

    /* General adjustments */
    body {
        background-attachment: scroll;
        font-size: 16px;
        padding: 10px;
    }

    .container,
    .about-container
        {
        width: 100%;
        max-width: 100%;
        margin: 20px auto;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Header grid simplified */
    header.container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        padding: 20px 10px;
        box-sizing: border-box;
        border: none;
        outline: none;
        box-shadow: none;
        background-color: transparent;
        color: #fff;
    }

    header.container > * {
        grid-column: 2 / 5; 
        text-align: center;
    }

    .title {
        font-size: 2em;
        margin: 0;
        grid-row: 1;
        align-self: center;
    }

    .dropdown-row {
        display: grid;
        gap: 10px;
        align-items: center;
        width: 200%;
        max-width: 200px;
    }

    .dropdown-button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        cursor: pointer;
    }

    .dropdown-menu {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 5px;
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu li {
        margin: 8px 0;
    }

    .dropdown-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1em;
    }

    /* Footer grid simplified */
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 10px;
        gap: 10px;
    }

    .footer-socials {
        flex-direction: row;
        gap: 10px;
    }

    .footer-socials a img {
        width: 25px;
    }

    /* Text & image */
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .h2-header {
        font-size: 1.2em;
        margin-top: 10px;
        margin-left: 20px;
    }

    .h3-header {
        font-size: 1.5em;
        margin-top: 30px;
    }

    .title-about-me {
        grid-row: 3;
        text-align: center;
        margin-bottom: 0;
        font-size: 1.62em;
    }

    /* About section */
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        margin-left: 0;
        margin-top: 15px;
        text-align: justify;
    }

    .about-image {
        max-width: 60%;
        margin: 0 auto;
    }

    /* Gallery */
    .galeria {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 15px;
    }

    .galery-img,
    .lore-img,
    .index-img,
    .lore-img-2 {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    .lore-img-2 {
        margin-left: 0;
    }

    /* Form container*/

    .form-container {
        width: 90%;
        max-width: 100%;
        margin: 20px auto;
    }

    /* Contact form */
    .form-group input,
    .form-group select,
    .form-group textarea,
    .form-group button {
        max-width: 100%;
        font-size: 1em;
    }

    /* Go-up button */
    .boton-volver {
        bottom: 10px;
        right: 10px;
        font-size: 16px;
        padding: 10px 12px;
    }

    /* Carousel */
    #demo.carousel {
        max-width: 100%;
        margin: 0 auto;
    }

    .carousel-item img,
    .carousel-item video {
        max-width: 100%;
        height: auto;
    }

    /* Toast */
    .toast {
        top: 10px;
        right: 10px;
        font-size: 0.9em;
        padding: 12px 16px;
    }

    .toast-img {
        width: 30px;
        height: 30px;
    }

    /* Lightbox modal */
    .modal-content {
        max-width: 90%;
        max-height: 70vh;
    }

    .close {
        font-size: 2em;
        right: 20px;
    }

    .prev, .next {
        font-size: 1.5em;
        padding: 12px;
    }
}